@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;

:root {
    --sloganHeight: 9vmax;
    --containerWidth: 76rem;

    @include bp.media-up("XXXLarge") {
        --containerWidth: 70vmax;
    }

    @include bp.media-up("Large") {
        --containerWidth: 76rem;
    }

    @include bp.media-up("Medium") {
        --containerWidth: 90vmax;
    }

    @include bp.media-up("XSmall") {
        --containerWidth: 90vmin;
    }

    @include bp.media-up("Small") {
        --sloganHeight: 12vmin;
    }
}

.anniversary {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    user-select: none;
    box-sizing: border-box;
    //opacity: 0;
    //display: none;
    z-index: 10;

    &--womanDay26 {
        display: block;
        background-color: var(--third) !important;
        //background-color: #d287a0 !important;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    &__container {
        width: var(--containerWidth);
        height: 100vh;
        //height: $containerHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: calc((100% - (var(--containerWidth))) / 2);
        // transform: translate(-50%, -50%);
        //border-left: 0.05rem dashed rgba(#646cff, 70%);
        //border-right: 0.05rem dashed rgba(#646cff, 70%);
        overflow: hidden;
        z-index: 10;
    }
}

#dayCulture2026 {

    &Back {
        // width: calc(#{--containerWidth} + 50vmin);
        width: 100vw;
        height: 100vh;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 0;
        // opacity: 0.5;

        img {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            object-position: bottom center;
            object-fit: cover;
        }
    }

    &Slogan {
        width: 60vmin;
        // height: 80vmin;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 5vmin;
        margin: 0 auto;
        z-index: 10;

        // &_2 {
        //     width: auto;
        //     height: calc(#{var(--sloganHeight)} - 2vmax);
        //     position: absolute;
        //     bottom: calc(#{var(--sloganHeight)} / 2.3);
        // }

        // &_3 {
        //     width: auto;
        //     height: var(--sloganHeight);
        //     position: absolute;
        //     bottom: 0;
        // }
    }

    &_1 {
        // width: 100%;
        height: 65vmin;
        display: block;
        position: absolute;
        bottom: 5vmin;
        right: 0;
        overflow: hidden;
        z-index: 5;

        img {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            object-position: center;
            object-fit: contain;
        }
    }

    &_2 {
        // width: 100%;
        height: 65vmin;
        display: block;
        position: absolute;
        bottom: 5vmin;
        left: 0;
        overflow: hidden;
        z-index: 5;

        img {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            object-position: center;
            object-fit: contain;
        }
    }

    @include bp.media-up("XXLarge") {}

    @include bp.media-up("XLarge") {}

    @include bp.media-up("Large") {}

    @include bp.media-up("Medium") {}

    @include bp.media-up("XSmall") {
        &Slogan {
            width: 90vmin;
            top: 15vmin;
        }
    }

    @include bp.media-up("Small") {

        &Slogan {
            width: 90vmin;
            top: 30vmin;
        }
    }

}